:root {
  text-align: center;
  line-height: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: azure;
  height: 8%;
  margin: none;
}

.main {
  background-color: beige;
  height: 80%;
}

#statusbar {
  background-color: rgba(212, 211, 142, 0.6);
  line-height: 0.5em;
  padding: 0em 1em;
}
.label {
  text-align: right;
  padding-right: 1em;
}
#status {
  display: flex;
  justify-content: space-around;
}
.selectorDiv {
  justify-content: center;
  align-content: center;
}
.setting-selector {
  width: 10%;
  border: 1px solid black;
  margin: 1.2em 0.5em;
  vertical-align: middle;
  line-height: 2em;
}
#setDiv {
  line-height: 1.2em;
  padding-bottom: 0.5em;
  font-size: 2em;
}
h2 {
  display: inline;
  font-size: 1.3em;
  /* border: 1px solid black; */
  text-align: left;
  flex-basis: 30%;
}

.board {
  background-color: bisque;
  display: grid;
  padding: 0.8em;
  grid-gap: 0.8em;
  margin: auto;
  width: 60vh;
  height: 60vh;
}
.footer {
  background-color: darkgrey;
  height: 10%;
}
.tile {
  border: 1px solid black;
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 1.3em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#banner {
  display: none;
  background-color: white;
  position: absolute;
  top: 33%;
  width: 100%;
  font-size: 5em;
  line-height: 0;
  letter-spacing: 0.2em;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 90%;
}
